<div class="container">
  <h1>Github API Test</h1>

  <% if @access_token %>
    <div>
      <p>
        <strong>token:</strong> <%= @access_token.token %><br>
        <strong>secret:</strong> <%= @access_token.secret %><br>
      </p>
      <p>
        <button><a href="/sign_out">Sign Out</a></button>
      </p>
    </div>
  <% else %>
    <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>">Click here</a> to begin!</a>
<!--     <form action="/sign_in" method="get">
      <input type="submit" value="Sign In with Github" />
    </form> -->
  <% end %>

</div>
