<div class="container">
  <% if @user %>
    <h1> Hello <%= @user["name"]%>!</h1>

    <% @user.each do |key, value| %>
      <p><%= key %>: <%= value %> </p>
    <% end %>
  <% else %>
    <h1> on the something page </h1>
  <% end %>
</div>
